body{
    background-color: skyblue;
}

#header{
    background-color: lavender;
    color: steelblue;
    font-family: monospace;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

div.box{
    margin-top: 5%;
    margin-left: 40%;
}

#display{
    font-size: 200%;
    height: 5%;
    padding: 5%;
    text-align: center;
    width: 20%;
}

input{
    float: left;
    font-size: 20px;
    height: 5%;
    width: 30%;
}

#retry{
    background-color: grey;
    border: 2px solid black;
    cursor: pointer;
    float: left;
    height: 2%;
    margin: 7% 0% 0% -30%;
    padding: 1%;
    text-align: center;
    width: 10%;
}

#cls{
    background-color: grey;
    border: 2px solid black;
    cursor: pointer;
    float: left;
    height: 2%;
    margin: 7% 0% 0% -13%;
    padding: 1%;
    text-align: center;
    width: 10%;
}

#submit{
    background-color: rgb(163, 133, 133);
    border: 2px solid black;
    cursor: pointer;
    float: left;
    height: 3%;
    margin: 12% 0% 0% -27%;
    padding: 1%;
    text-align: center;
    width: 20%;
}

#result{
    font-size: 40px;
    font-weight: bold;
    margin-top: 25%;
}

